body{
    font-size: 25px;
    font-family: arial;
    user-select: none;
}

.kleine-text {
    font-size: 25px;
}

.grote-text {
    font-size: 35px;
    font-weight: 700;
}

#global-container {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    height: 335px;
    display: inline-flex;
}

#klok-container {
    background-color: #E2EAED;
    width: 240px;
    height: 100%;
}

#info-container {
    background-color: #0245CE;
    margin-inline: 10px;
    box-sizing: border-box;
    width: 568px;
    height: 100%;
    padding: 35px;
}

#platform-container {
    background-color: #0245CE;
    width: 128px;
    height: 100%;
    display: inline-flex;
}

#nu-data {
    background-color: #E2EAED;
    color: #00149E;
    height: 90%;
    padding-inline: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

#volgende-data {
    background-color: #00149E;
    color: #E2EAED;
    height: 10%;
    padding-left: 10px;
}

#wacht-tijd {
    width: 245px;
    height: 50px;
    line-height: 50px;
}

#wacht-tijd-cijfer {
    display:inline;
}

#via-text {
    margin-top: 10px;
}

#spoor-container {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    width: 96px;
    height: 96px;
    background-color: #E2EAED;
    color: #00149E;
    font-weight: 700;
    
}

#spoor-bord-hoekje {
    background-color: #0245CE;
    transform: translate(-10%, -10%);
    width: 21px;
    height: 21px;
    display: inline-block
}

#spoor-text {
    transform: translate(-15%, -32%);
    font-size: 13px;
    display: inline-block;
}

#top-bar {
    height: 50px;
    line-height: 50px;
    display: inline-flex;
}

#ns-logo {
    background-image: url("../assets/ns-logo.png");
    background-size: 80px;
    height: 50px;
    width: 80px;
}

#trein-type {
    text-align: end;
    width: 162px;
}

#trein-plaatje {
    background-image: url("../assets/trein-plaatje.png");
    background-size: 285px;
    width: 285px;
    height: 30px;
    margin: 0 auto;
    margin-top: auto;
}

#spoor-nummer {
    display: inline-flex;
    font-size: 60px;
    margin-left: 10px;
    transform: translate(0, -10%);
}

#spoor-offset {
    margin: 0;
    margin-top: 8px;
}

#klok {
    background-color: #fff;
    height: 170px;
    width: 170px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 50%;
}

.tijden-blok {
    height: 170px;
    width: 170px;
    margin: 0 auto;
    position: absolute;
    padding-top: 0.5%;
    box-sizing: border-box;
    z-index: auto;
}

.tijden-5 {
    background-color: #0245CE;
    height: 15px;
    width: 6px;
    border-radius: 3px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.tijden-1 {
    background-color: #0245CE;
    height: 4px;
    width: 4px;
    margin-left: 50%;
    border-radius: 50%;
    transform: translate(-50%, 0);
}

.wijzer {
    height: 170px;
    width: 170px;
    position: absolute;
    z-index: 1;
}

#seconden-wijzer {
    background-image: url("../assets/seconde-wijzer.png");
    height: 170px;
    width: 170px;
}

#minuten-wijzer {
    background-image: url("../assets/minuten-wijzer.png");
    height: 170px;
    width: 170px;
}

#uren-wijzer {
    background-image: url("../assets/uren-wijzer.png");
    height: 170px;
    width: 170px;
}